In [49]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn import preprocessing
from sklearn.feature_extraction.text import TfidfVectorizer
import math
import glob, re, os
import tflearn
from tflearn.data_utils import to_categorical, pad_sequences

In [50]:
data_dir = 'opensubtitles-parser/inOneFolder/'

## Before starting

In [ ]:
#To delete redundant part of xml file names
for filename in glob.glob(data_dir + '*.xml'):
    new_name = re.sub('[0-9]*_[0-9]*_[0-9]*_([^.]*).xml', r'\1.xml', filename)
    os.rename(filename, new_name)

In [2]:
# converter.py
import xml.etree.ElementTree as ET

def convert_to_text(in_file):
    """
    a function that gets subtitle xml file and extract it's text
    and save it to a file with same name but '.txt' extension
    """

    # read xml file
    tree = ET.parse(in_file)
    root = tree.getroot()

    file_name = in_file.split('.')[0] #extract file name without .xml

    text = ''
    for parag in root.iter('s'):  # read each paragraph
        for word in parag.iter('w'): # read each word
            text += word.text + ' '
        text = text.rstrip()
        text += '\n'
        
    try:
        f = open(file_name + '.txt', 'w')
        f.write(text.encode('utf8'))   # to avoid encoding error
    except Exception as e:
        print 'there is an error in file: ', in_file
        print e
    else:
        f.close()

In [13]:
def readSubtitles():
    for f in os.listdir(data_dir):
        if f.endswith('.xml'):
            convert_to_text(data_dir + f)

In [17]:
readSubtitles()

## Data Preparation

In [3]:
# File Names List
fileNames = []
for fname in os.listdir(data_dir):
    fileNames.append(fname.replace("_", " ").replace(".xml", ""))

In [4]:
def modifier(s):
    s = re.sub('([^\(]*)\(.*', r'\1', s.lower()).rstrip()
    # s = s[1:] if s.startswith("\"") else s
    s = "the " + s[:s.rfind(", the")] if ", the" in s else s
    s = "an " + s[:s.rfind(", an")] if ", an" in s else s
    s = "a " + s[:s.rfind(", a")] if ", a" in s else s
    return s

In [5]:
def findFileName(row):
    return row['modifiedtitle'].replace(' ', '_') + '.xml' if row['modifiedtitle'] in fileNames else np.nan

In [47]:
def findSubtitles(row):
    if (pd.isnull(row['filename']) == False) :
        f = open(data_dir + row['filename'].replace('.xml', '.txt'), 'r')
        return f.read()
    return np.nan

In [7]:
def selectGenre(row):
    return row['genres'].split('|')[0]

In [8]:
dfmovies = pd.read_csv("./ml-20m/movies.csv")
dfmovies.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [10]:
len(dfmovies)

27278

In [11]:
dfratings = pd.read_csv("./ml-20m/ratings.csv")
dfratings.head()

   userId  movieId  rating   timestamp
0       1        2     3.5  1112486027
1       1       29     3.5  1112484676
2       1       32     3.5  1112484819
3       1       47     3.5  1112484727
4       1       50     3.5  1112484580

In [12]:
len(dfratings)

20000263

In [13]:
dfratedmovies = pd.merge(dfmovies, dfratings, on='movieId')

In [14]:
dfratedmovies.head()

,movieId,title,genres,userId,rating,timestamp
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,3,4.0,944919407
1,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,6,5.0,858275452
2,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,8,4.0,833981871
3,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,10,4.0,943497887
4,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,11,4.5,1230858821

In [15]:
len(dfratedmovies)

20000263

In [44]:
dfratedmovies['filename'] = np.nan
dfratedmovies['modifiedtitle'] = np.nan

In [45]:
dfratedmovies.head()

,Unnamed: 0,movieId,title,genres,userId,rating,timestamp,filename,modifiedtitle
0,0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,3,4.0,944919407,NaN,NaN
1,1,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,6,5.0,858275452,NaN,NaN
2,2,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,8,4.0,833981871,NaN,NaN
3,3,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,10,4.0,943497887,NaN,NaN
4,4,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,11,4.5,1230858821,NaN,NaN

In [46]:
# print set(dfratedmovies['title'])

In [47]:
# To fill modifiedtitle column in order to use it to easly find relevant subtitle files
dfratedmovies['modifiedtitle'] = dfratedmovies['title'].apply(modifier)

In [48]:
# To fill filename column with appropriate file names
dfratedmovies['filename'] = dfratedmovies.apply(findFileName, axis=1)

In [111]:
# Writing data frame into csv file
dfratedmovies.to_csv('ratedmovies.csv')

In [5]:
# dfratedmovies.drop('Unnamed: 0', axis=1, inplace=True)
dfratedmovies.head()

,movieId,title,genres,userId,rating,timestamp,filename,modifiedtitle
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,3,4.0,944919407,NaN,toy story
1,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,6,5.0,858275452,NaN,toy story
2,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,8,4.0,833981871,NaN,toy story
3,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,10,4.0,943497887,NaN,toy story
4,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,11,4.5,1230858821,NaN,toy story

## Data Reading

In [40]:
#either call read_csv with index_col=0 odor call to_csv with index=False
dfratedmovies = pd.read_csv('./ratedmovies.csv', index_col=0)

/usr/local/lib/python2.7/dist-packages/IPython/core/interactiveshell.py:2717: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [41]:
print dfratedmovies[pd.isnull(dfratedmovies['filename']) == False].shape
print dfratedmovies[pd.isnull(dfratedmovies['filename']) == True].shape

(6116353, 8)
(13883910, 8)

In [42]:
print len(dfratedmovies[pd.isnull(dfratedmovies['filename']) == False]['movieId'].unique())
print len(dfratedmovies[pd.isnull(dfratedmovies['filename']) == False]['filename'].unique())

1211
1019

In [45]:
df = dfratedmovies[pd.isnull(dfratedmovies['filename']) == False][['movieId', 'title', 'genres', 'filename',]].copy()
# df['genres'] = df.apply(selectGenre, axis=1)
df = df.drop_duplicates()
df['subtitles'] = np.nan

In [51]:
df['subtitles'] = df.apply(findSubtitles, axis=1)

In [52]:
df.head()

,movieId,title,genres,filename,subtitles
49695,2,Jumanji (1995),Adventure|Children|Fantasy,jumanji.xml,"It' s just a pack of wolves .\nCome on , we' r..."
99590,6,Heat (1995),Action|Crime|Thriller,heat.xml,"Check , charge or cash ?\nCash .\nMake it out ..."
170830,11,"American President, The (1995)",Comedy|Drama|Romance,the_american_president.xml,Liberty' s moving .\nThe 10 : 15 event' s been...
203230,16,Casino (1995),Crime|Drama,casino.xml,"[ Man Narrating ]\nWhen you love someone , you..."
241291,18,Four Rooms (1995),Comedy,four_rooms.xml,[ Children ]\nShould auld acquaintance be forg...

In [53]:
df.to_pickle('genreClassification_multiclass.pkl')

# Genre Classification

In [2]:
df = pd.read_pickle('genreClassification.pkl')

In [3]:
X = df.drop('genres', axis=1)

In [4]:
y = df['genres']

In [5]:
# Data splitting
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)

In [6]:
print X_train.shape
print y_train.shape
print X_test.shape
print y_test.shape

(811, 4)
(811,)
(400, 4)
(400,)

In [7]:
print X_train['subtitles'].ix[14219196]

You wouldn' t have a match ... by any chance , would you ?
Oh , oh , oh !
The airgot to it .
The air got to it !
Come on , come on .
Come on .
[ Gasping ]
I did it .
I did it .
Fire !
Thereyougo !
Light it up !
Come on !
# The time to hesitate is through #
Ouch !
[ Laughing ]
Ouch !
# No time to wallow in the mire #
# Try now , we can only lose #
# ' Cause girl we couldn' t get much higher #
# Come on , baby light my fire ##
Here you go !
Here you go !
It' s a signal fire !
And it spells out S. O. S !
Whoa !
It' s a meteor shower !
Fireflies !
Go !
Run !
You' re free !
You' re free !
Ouch !
Ouch !
Yeah !
Yes !
Look what I have created !
I have made fire !
I ... have made fire !
Mmm !
You gotta love crab .
I n the nick oftime too .
I couldn' t take much more ofthose coconuts .
Coconut milk' s a natural laxative .
Things that Gilligan never told us .
Oh .
Pretty well- made fire , huh , Wilson ?
[ Thunderclap ]
So ...
Wilson .
We were en route ... from Memphis for 1 1 and a half hours .
About 475 miles an hour .
So they think that we are right here .
But ... we went out of radio contact ... and flew around that storm for about an hour .
So that' s a distance ofwhat , 400 miles ?
Four hundred miles squared .
That' s 1 60, 000 ... times pi -- 3 . 1 4 .
[ Mumbling ]
Five hundred and two thousand , four --
That' s a search area of 500, 000 square miles .
That' s twice the size ofTexas .
They may never find us .
[ Thunderclaps ]
[ Groaning ]
This tooth isjustkillingme .
Itstartedoutjusthurting when lbit down , butnowitjusthurts all the time .
All the time .
It' s- It' s agoodthing there ' s notmuch to eataroundhere , because I don' t think I could chewit .
Justkeepsucking on all that coconutandall that crab .
Andjust think ,
I usedto avoid going to the dentist ...
Iike theplague .
Iputit offevery single chance lgot .
Butnow , oh , what I wouldn' tgive ... to have a- a dentist righthere in this cave .
[ Groans ]
I n fact , I wish you were a dentist .
Yeah .
Dr. Wilson .
You wanna hear something funny ?
Back home in Memphis , my dentist' s name is Dr. James Spaulding .
She' s much prettier in real life .
[ Groaning ]
[ Whimpering ]
[ Yells ]
[ Thunderclaps ]
[ Clattering ]
[ Clattering Continues ]
Shut up !
[ Clattering Continues ]
" Bakersfield " ?
Bakersfield !
This could work .
[ Softly ]
This could work .
Twenty- two -- Forty- four lashings .
Forty- four lashings .
So --
We have to make rope again .
Wilson , we' re gonna have to make a hell ofa lot of rope .
Eight lashings ofthese structurals .
That' s 24 apiece .
That' il be 1 00 -- 1 60 .
Here we are today .
That gives us another month and a half until we' re into March and April , which is our best chances for the high tides and the offshore breezes .
We need -- We need 424 feet ... ofgood rope , plus another 50 feet , say , for miscellaneous .
Round that offto 475 feet ofgood rope .
Now , ifwe average 1 5 feet a day --
Plus , we have to build it , we have to stock it , we have to launch it .
That' s gonna be tight .
That is not much time .
But we --
We live and we die by time , don' t we ?
Now , let' s not commit the sin ofturning our back on time .
[ Laughs ]
I know .
I know .
This is it .
That' s all that' s left .
I checked over the whole island , and that is all that' s left .
So we' re gonna be short .
Short .
We' il just have to make some more out ofthe videotape .
Yes .
No , we have time .
We do .
We have time .
Look !
The wind' s still blowing in from the west .
I know !
Yeah , I know -- I know where there' s 30 feet ofextra rope !
But -- But I' m not going back up there .
There , there .
There , you see ?
Huh ?
There .
Are you happy ?
Do you have to keep bringing that up ?
Can' t you just forget it ?
Huh ?
You were right .
You were right .
It was a good thing that we did a test ,
' cause it wasn' t gonna be just a quick little snap .
I would have landed on the rocks .
Broken my leg or my back or my neck .
Bled to death .
But it was the only option I had at the time though , okay ?
It was what , a year ago ?
So let' s just forget it .
And what is your point ?
Well ... we mightjust make it .
Did that thought ever cross your brain ?
Well , regardless , I would rather take my chance out there on the ocean ... than to stay here and die on this shithole island , spending the rest of my life talking to a goddamn volleyball !
Shut you up .
Wilson !
Wilson !
Wilson !
Wilson !
Wilson !
Wilson .
Wilson !
[ Sobbing ]
Oh , God !
Wilson !
Wilson !
Oh !
Oh !
Never again .
Never again , never again .
You' re okay .
You okay ?
Yeah .
Yeah , I know you .
I know you .
I know you .
So , we okay ?
Okay ?
Okay .
You still awake ?
Me too .
You scared ?
Me too .
[ WindHowling ]
Okay .
Here we go , Wilson .
You don' t have to worry about anything .
I' il do all the paddling .
You just hang on .
Not yet !
Hold on !
Not yet !
Not yet !
Not yet !
Stand by , Wilson !
Hold on !
Hold on , Wilson !
[ Laughing ]
I think we did it !
I think we did it !
Wilson !
I think we did it !
[ Whale Calling ]
[ Thunderclaps ]
Oh !
They' re gone !
I don' t know why !
[ Whale Spouting ]
Where' s Wilson ?
Where' s Wilson ?
Wilson , where are you ?
Wilson !
Wilson !
Wilson !
Wilson !
I' m comin ' !
Wilson !
Wilson !
Wilson -- [ Gurgling ]
Wilson !
Wilson !
Wilson !
[ Gasping , Panting ]
[ Coughs ]
Wilson !
Wilson !
I' m sorry !
I' m sorry , Wilson !
Wilson , I' m sorry !
I' m sorry !
Wilson !
[ Sobbing ]
I can' t !
Wilson !
Wilson !
[ Sobbing Loudly ]
I' m -- I' m sorry .
I' m sorry .
I' m sorry .
[ Whale Calls , Spouts ]
[ Whale Spouts ]
[ Horn Blows ]
[ Alarm Blaring ]
[ Whispers ]
Kelly .
Kelly .
Kelly .
[ Ringing ]
Hello ?
Oh , how are you ?
Okay .
Forty- five minutes .
One Dr. Pepper .
Two cups of ice .
I like ice .
Well , here' s the drill .
Um , plane pulls in , we get off , and there' s a little ceremony right there in the hangar .
Fred Smith will say a few words .
All you have to do is smile and say " thankyou . "
Then we' il take you over to see Kelly .
She' s actually gonna be there , huh ?
Well , that' s what we have arranged .
I mean , ifyou' re sure you wanna do that .
Oh , yeah , yeah .
Yes .
I don' t know what I' m gonna say to her .
What in the world am I gonna say to her ?
Chuck , Kelly had to let you go .
Youknow ?
She thoughtyou were dead .
And we buriedyou .
We had a funeral and a coffi n and a gravestone .
The whole thing .
You had a coffin ?
What was in it ?
Well , everybody put something in .
You know , just a cell phone or a beeper , some pictures .
Iputinsome Elvis CDs .
So you had my funeral ... and then you had Mary' s funeral .
Stan , I' m so sorry I wasn' t around when Mary died .
I should' ve been there foryou , and I wasn' t .
I' m so sorry .
Fouryears ago , the FedEx family lost five ofour sons .
That was a terrible and tragic day .
But today , one ofthose sons ,
Chuck Noland , has been returned to us .
Chuck , welcome home .
[ Applause ]
[ Male Newscaster ]
Justmoments ago , FredSmith welcomedhome Chuck Noland .
- Howaboutit , Michelle ?
- It' ssuch an incredible andamazingstory ...
- to come back from the dead .
- Well , it' sso amazing that Smith himselfwelcomedhim back .
AndFredacknowledgedthat , " While time waits forno man , we take time topause to honorone ofourown . "
Now , that' s an expensivepause .
[ TVContinues ]
I' m- I' m sorry .
I must be in the wrong place .
No , you' re in the right place .
You probably don' t remember me .
I actually did root canal on you about five years ago .
J im Spaulding referred you .
Oh , yeah , yeah .
I' m Kelly' s husband .
JerryLovett .
Kelly wanted --
Kelly wantedto be here --
Look , this is veryhard foreveryone .
I can' t even imagine howharditis foryou .
Kelly , uh --
She' s had it rough .
First when she thought she lost you , and now dealing with all ofthis .
It' s- It' s confusing .
It' s very emotional for her .
She' s --
She' s ... sort oflost .
Maybe you could just give her a little more time .
Anyway , uh ,
I' m sorry that --
[ I naudible ]
Okay , people , let' s go .
Party' s over .
Let' s go home .
Let' s go home .
[ Maynard ]
You' re definitely gonna have togo down to the DMV .
Okay , Maynard , let' s go .
Chuck' s had a big day .
- I have to briefthis man on his meetings tomorrow ...
- I know . with the accountants and the attorneys , all right ?
I will see you bright and early in the morning .
- Hey , Chuck , welcome home .
We love you .
- Becca , I need to speak to you .
You know , Chuck , we gotta catch up on some ofthat fishin ' , now .
Take care .
- Good night .
- Good night .
You got everything you need ?
Okay .
Well , ifyou need anything , just sign for it , and I' il see you in the morning .
Get some sleep , okay ?
We got another big day tomorrow .
It takes a lot of paperwork to bring back a man .
- Bring you back to life , man .
- [ Becca ]
Bye , Chuck .
- Take care , now .
- Tomorrow .
Tomorrow we' re gonna bring you back to life .
How long are you gonna be , man ?
Well ...
- how long will that buy me ?
- About ten minutes .
I' m awake .
I saw your taxi drive up .
Get in here out ofthe rain .
I saw you down at the hub today , so I know you were down there .
Let me get you a towel .
They' re sleeping .
Ifyou come in , I' il make you some coffee .
It' s a nice house .
Yeah , we got a nice mortgage too .
What' s your daughter' s name ?
Katie .
Katie .
- She' s a beautiful little girl .
- She' s a handful .
J ust let me get one thing straight here .
We have a pro football team now , but they' re in Nashville ?
[ Sighs , Chuckles ]
Um , yeah .
Oh , my God .
Okay .
They used to be in Houston .
First they were the Oilers , andnow they' re the Titans .
The Houston Oilers are the Tennessee Titans ?
Yeah .
But that' s not all .
They went to the Super Bowl last year .
- And I missed that .
- You would' ve died .
It was so exciting .
They almost won by one yard .
One lousyyard right at the end .
I got whole milk , 2 % and nonfat .
I don' thave anyhalf- and- half , andthat' s whatyoulike .
That' il do fine .
What happened to you becoming a professor ?
You' re not Dr. Kelly Frears- Lovett ?
When you , um --
When your plane went down , everything just sort of got put on hold .
I think about taking it up again , though .
I came out here to give you this .
Oh , my God .
I' m sorry it doesn' t work .
And I , uh , I kept the picture .
It was all faded anyway .
I want you to have it .
I gave it to you .
That' s a family heirloom , and it should stay in your family .
That' s everything lhave from whenyou went down to now .
They said they never figured out what caused the crash .
Probably some mislabeled hazardous material caught fire .
So here' s where that ship found you .
You drifted about 500 miles .
This is where your island was , about 600 miles south ofthe Cook lslands .
And these are the search grids .
Ships went back and forth for weeks looking foryou .
I never should' ve gotten on that plane .
I never should' ve gotten out ofthe car .
I wanna show you something .
Come here .
This is -- This is our car .
You kept our car .
All right , now , this is weird .
It' s a good car .
Had a lot of memories in this car .
Two very nice memories .
Oh , that trip down to the Gulf , yeah .
So , can I drive it ?
It' s your car .
That' s good , ' cause my -- my taxi' s gone .
Um --
Let me get some stuff out ofthe back .
You thinkyou' re gonna have more kids ?
I don' t know .
It' s kind ofconfusing right now .
Well , you should .
I mean , really , you should .
I would .
So , what now ?
I don' t know .
I really don' t know .
[ Starts Engine ]
You said you' d be right back .
I' m so sorry .
Me too .
Chuck !
Chuck !
Chuck !
I always knew you were alive .
I knew it .
But everybody said I had to stop saying that -- that I had to let you go .
I love you .
You' re the love of my life .
I love you too , Kelly .
More than you' il ever know .
Chuck ?
You have to go home .
We both had done the math , and --
Kelly added it all up .
She knew she had to let me go .
I added it up , knew that I' d --
I' d lost her .
' Cause I was never gonna get offthat island .
I was gonna die there , totally alone .
I mean , I was gonna get sick or I was gonna get injured or something .
The only choice I had , the only thing I could control ... was when and how ... and where that was gonna happen .
So ...
I made a rope .
And I went up to the summit to hang myself .
But I had to test it , you know ?
Ofcourse .
You know me .
And the weight ofthe log ... snapped the limb ofthe tree .
So l- l --
I couldn' t even kill myself the way I wanted to .
I had power over nothing .
And that' s when this feeling came over me like a warm blanket .
I knew ... somehow ... that I had to stay alive .
Somehow .
I had to keep breathing , even though there was no reason to hope .
And all my logic said that I would never see this place again .
So that' s what I did .
I stayed alive .
I kept breathing .
And then one day that logic was proven all wrong , because the tide ... came in , gave me a sail .
And now , here I am .
I' m back ... in Memphis , talking to you .
I have ice in my glass .
And I' ve lost her all over again .
I' m so sad that I don' t have Kelly .
But I' m so grateful that she was with me on that island .
And I know what I have to do now .
I gotta keep breathing .
Because tomorrow , the sun will rise .
Who knows what the tide could bring ?
[ Elvis Presley ]
# lgave a letter to thepostman #
# Heputitin hissack #
# Brightandearly nextmorning #
# He broughtmy letterback #
# She wrote upon it #
# Return tosender #
# Address unknown #
# Nosuch number ##
Hello !
Hello !
[ Whistles ]
FedEx !
[ Door Alarm Beeping ]
- You look lost .
- I do ?
Where are you headed ?
Well , I was just about to figure that out .
Well , that' s 83 South .
Andthis roadhere will hookyou up with l- 40 East .
Ifyou turn right , that' il take you to Amarillo , Flagstaff ,
California .
And ifyou head back that direction , you' il finda whole lotta nothin ' all the way to Canada .
I got it .
All right , then .
Good luck , cowboy .
- [ Starts Engine ]
- Thankyou .

## Data Preprocessing

In [8]:
fstopwords = open('nltk_data/corpora/stopwords/english', 'r')
stopwords = fstopwords.read().split('\n')

In [9]:
vectorizer = TfidfVectorizer(analyzer='word', min_df=15, max_features=1000, norm='l2',
                             stop_words=stopwords, use_idf=True, smooth_idf=True)
X_train_vec = vectorizer.fit_transform(X_train['subtitles'])

In [28]:
X_train_vec[0]
# X_train_vec.eliminate_zeros()

<1x1000 sparse matrix of type '<type 'numpy.float64'>'
	with 372 stored elements in Compressed Sparse Row format>

The extracted TF-IDF vectors are very sparse, with an average of 498 non-zero components by sample in a more than 1000-dimensional space:

In [29]:
X_train_vec.nnz / float(X_train_vec.shape[0])

497.905055487053

In [30]:
print X_train_vec[0]
# print X_train_vec.getrow(0)
# vectorized[0]

  (0, 960)	0.0233423422341
  (0, 93)	0.0436701161784
  (0, 128)	0.0783606547284
  (0, 402)	0.0197635227011
  (0, 485)	0.0383185046013
  (0, 245)	0.015815421352
  (0, 923)	0.0781770781618
  (0, 539)	0.10875733891
  (0, 256)	0.0469074003787
  (0, 387)	0.0305809695705
  (0, 956)	0.0119600301367
  (0, 680)	0.0372582887463
  (0, 938)	0.0536467627951
  (0, 120)	0.0141531392941
  (0, 623)	0.0124714927662
  (0, 718)	0.0708277018332
  (0, 461)	0.0431926854709
  (0, 647)	0.00927788417793
  (0, 819)	0.0353732804824
  (0, 484)	0.0157673978251
  (0, 428)	0.127510498296
  (0, 728)	0.0215420101817
  (0, 61)	0.0264950477558
  (0, 949)	0.0128240786482
  (0, 249)	0.0442421106926
  :	:
  (0, 390)	0.0111591942828
  (0, 89)	0.0301537268601
  (0, 902)	0.0130848777137
  (0, 266)	0.0327748419887
  (0, 839)	0.0153466017465
  (0, 928)	0.0333503186399
  (0, 507)	0.0136685466708
  (0, 305)	0.0179897145356
  (0, 398)	0.0181139326258
  (0, 706)	0.00954509646368
  (0, 911)	0.0117301578276
  (0, 935)	0.0374584036267
  (0, 892)	0.0105038634417
  (0, 287)	0.014836671786
  (0, 880)	0.0128240786482
  (0, 775)	0.0133536535108
  (0, 78)	0.0101809658591
  (0, 267)	0.0150327011082
  (0, 694)	0.0178976897831
  (0, 942)	0.0107304124849
  (0, 714)	0.0119911391375
  (0, 416)	0.0115950662656
  (0, 101)	0.0182082621565
  (0, 657)	0.00938148007574
  (0, 437)	0.0241742870888

In [31]:
vectorized = []

In [32]:
for vec in X_train_vec:
    vectorized.append(list(vec.indices))

In [34]:
# Sequence padding
vectorized = pad_sequences(vectorized, maxlen=1000, value=0.)
vectorized = pad_sequences(vectorized, maxlen=1000, value=0.)

In [35]:
# Converting labels to binary vectors
le = preprocessing.LabelEncoder()
y_train_transformed = le.fit_transform(y_train)
y_test_transformed = le.fit_transform(y_test)

y_train_categorical = to_categorical(y_train_transformed, nb_classes=17)
y_test_categorical = to_categorical(y_test_transformed, nb_classes=17)

In [37]:
# Network building
net = tflearn.input_data([None, 1000])
net = tflearn.embedding(net, input_dim=1000, output_dim=128)
net = tflearn.lstm(net, 128, dropout=0.8)
net = tflearn.fully_connected(net, 17, activation='softmax')
net = tflearn.regression(net, optimizer='adam', learning_rate=0.001,
                         loss='categorical_crossentropy')

In [38]:
# Training
model = tflearn.DNN(net, tensorboard_verbose=0, tensorboard_dir='./logs/')
model.fit(vectorized, y_train_categorical, validation_set=0.1, show_metric=True, batch_size=32, run_id='dnn_test1d')

Training Step: 230  | total loss: 1.92638
| Adam | epoch: 010 | loss: 1.92638 - acc: 0.2614 | val_loss: 1.88131 - val_acc: 0.2927 -- iter: 729/729
Training Step: 230  | total loss: 1.92638
| Adam | epoch: 010 | loss: 1.92638 - acc: 0.2614 | val_loss: 1.88131 - val_acc: 0.2927 -- iter: 729/729
--

In [45]:
print np.max(vectorized), np.min(vectorized)
print np.max(y_train), np.min(y_train)
print np.max(trainX), np.min(trainX)
print np.max(trainY), np.min(trainY)

67928 2
1.0 0.0
9999 0
1.0 0.0